<h1 class="text-4xl font-bold">
  <%= link.title %>
</h1>

<div id="<%= dom_id link %>" class="link-container <%= cycle "bg-slate-300", "bg-red-100" %>">
  <div class="mb-6">
    <strong>Url:</strong>
    <%= link_to link.url, link.url, target: "_blank" %>
  </div>


  <div class="mb-6">
    <strong>Description:</strong>
    <%= link.description %>
  </div>

</div>
