<div id="<%= dom_id link %>" class="<%= cycle "bg-slate-300", "bg-red-100" %>">
  <p>
    <strong>Url:</strong>
    <%= link_to link.url, link.url, target: "_blank" %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= link.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= link.description %>
  </p>

</div>
