<p style="color: green"><%= notice %></p>

<%= render @link %>

<% if @link.shares.any? %>
  <h2 class="text-2xl">Shares</h2>

  <ul class="link-shares">
  <% @link.shares.find_each do |share| %>
    <li class="<%= cycle("bg-slate-300", "bg-red-100") %>"><%= render share %></li>
  <% end %>
  </ul>
<% end %>

<div class="mb-6">
  <%= link_to "Back to links", links_path %> |
  <%= link_to "Share", new_link_share_path(@link) %>
</div>
