<p style="color: green"><%= notice %></p>

<%= render @link %>

<% if @link.social_media_snippets.any? %>
  <h2 class="text-4xl">Social Media Snippets</h2>

  <% @grouped_social_media_snippets.each do |media_type, snippets| %>
    <h3 class="text-2xl"><%= media_type %></h3>
    <ul class="list-disc">
      <% snippets.each do |snippet| %>
        <li class="<%= cycle("bg-white", "bg-black") %>"><%= text_area_tag(:ad, snippet.content, size: '50x10') %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if @link.shares.any? %>
  <h2 class="text-4xl">Shares</h2>

  <ul class="link-shares">
  <% @link.shares.find_each do |share| %>
    <li class="<%= cycle("bg-slate-300", "bg-red-100") %>"><%= render share %><%= link_to "Clone", link_clone_path(@link, share) %></li>
  <% end %>
  </ul>
<% end %>

<div class="mb-6">
  <%= link_to "Back to links", links_path %> |
  <%= link_to "Share", new_link_share_path(@link) %>
</div>
